aiohttp
anthropic
black
blake3
cachetools
cbor2
cloudpickle
cmake
compressed-tensors
depyf
diskcache
einops
fastapi[standard]
ijson
intel-openmp
ipython
jinja2
jupyterlab
llguidance
lm-format-enforcer
mcp
mistral_common[image]
model-hosting-container-standards
msgspec
mypy
ninja
numba
numpy
openai
openai-harmony
opencv-python-headless
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
opentelemetry-semantic-conventions-ai
outlines_core
packaging
partial-json-parser
pillow
prometheus-fastapi-instrumentator
protobuf
py-cpuinfo
pybase64
pytest
regex
ruff
safetensors
sentencepiece
setproctitle
setuptools
setuptools-rust
setuptools-scm
tiktoken
torch
torchaudio
torchvision
transformers
watchfiles
wheel
xgrammar
